body {
  background-color: black;
  color: white;
  text-align: center;
}
.container {
  width: 90%;
  min-width: 100px;
  padding-left: 8%;
  position: absolute;
  top: 170px;
  left: 0px;
  }
.tower {
  border-radius: 10px;
  min-width: 30%;
  min-height: 70vh;
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline-block;
  position:relative;
  background-color: white;

}
.disc.selected {
	border: 5px solid #0F0;
}
.disc {
  height: 30px;
  border: 1px solid #000;
  padding-top: 10px;
  text-align: center;
}
 .discBag {
  position: absolute;
  bottom: 3%;
  width: 100%;
} 